{% extends 'base.html.twig' %}


{% block title %}Ajout d'un club{% endblock %}

{% block body %}

{% include "_partial/leftSideBar.html.twig" %}

<br>
    {{ form_start(form) }}

        {{ form_row(form.label) }}
        <br>
        {{ form_row(form.image) }}
        {{ form_row(form.price) }}
        <br>
        {{ form_row(form.country) }}
        <br>
        {{ form_row(form.league) }}
        <br>
        {{ form_row(form.yearAt) }}


        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Soumettre
        </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Etes-vous sur de vouloir modifier le club : {{ league.label }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
                </div>
              </div>
            </div>
          </div>

    {{ form_end(form) }}

    </div>
  </div>
</div>

{% endblock %}