{% extends 'base.html.twig' %}


{% block title %}Ajout d'un club{% endblock %}

{% block body %}
<br>
{{ form_start(form) }}

    {{ form_row(form.label) }}
    <br>
    {{ form_row(form.image) }}
    {{ form_row(form.price) }}
    <br>
    {{ form_row(form.country) }}
    <br>
    {{ form_row(form.league) }}
    <br>
    {{ form_row(form.yearAt) }}
    {{ form_row(form.createdAt) }}


    <button type="submit">Soumettre</button>

{{ form_end(form) }}

{% endblock %}