{% extends 'base.html.twig' %}


{% block title %}Modifier le championnat{% endblock %}

{% block body %}

    <h1>Entité : {{ country.label }}</h1>

    <br>
    {{ form_start(form) }}

        {{ form_row(form.label) }}
        
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Soumettre
        </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Etes-vous sur de vouloir modifier le pays : {{ country.label }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
                </div>
              </div>
            </div>
          </div>

    {{ form_end(form) }}

{% endblock %}